openapi: 3.0.3
info:
  version: 1.0.0
  title: Example.com
  termsOfService: 'https://example.com/terms/'
  contact:
    email: contact@example.com
    url: 'http://example.com/contact'
  license:
    name: MIT
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'https://apis.guru/openapi-template/logo.png'
  description: >
    # Your description here
externalDocs:
  description: Find out how to create a GitHub repo for your OpenAPI definition.
  url: 'https://github.com/Rebilly/generator-openapi-repo'
tags:
  - name: Echo
    description: Example echo operations
  - name: User
    description: Operations about user
servers:
  - url: 'http://gressling.net/v2'
  paths:
    /v2:
      get:
        tags:
          - developers
        summary: searches inventory
        operationId: searchInventory
        description: |
          By passing in the appropriate options, you can search for
          available inventory in the system
        parameters:
          - in: query
            name: searchString
            description: pass an optional search string for looking up inventory
            required: false
            schema:
              type: string
          - in: query
            name: skip
            description: number of records to skip for pagination
            schema:
              type: integer
              format: int32
              minimum: 0
          - in: query
            name: limit
            description: maximum number of records to return
            schema:
              type: integer
              format: int32
              minimum: 0
              maximum: 50
        responses:
          '200':
            description: search results matching criteria
            content:
              application/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/InventoryItem'
          '400':
            description: bad input parameter
      post:
        tags:
          - admins
        summary: adds an inventory item
        operationId: addInventory
        description: Adds an item to the system
        responses:
          '201':
            description: item created
          '400':
            description: 'invalid input, object invalid'
          '409':
            description: an existing item already exists
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItem'
          description: Inventory item to add
  
          components:
            schemas:
              InventoryItem:
                type: object
                required:
                  - id
                  - name
                  - manufacturer
                  - releaseDate
                properties:
                  id:
                    type: string
                    format: uuid
                    example: d290f1ee-6c54-4b01-90e6-d701748f0851
                  name:
                    type: string
                    example: Widget Adapter
                  releaseDate:
                    type: string
                    format: date-time
                    example: '2016-08-29T09:12:33.001Z'
                  manufacturer:
                    $ref: '#/components/schemas/Manufacturer'
              Manufacturer:
                required:
                  - name
                properties:
                  name:
                    type: string
                    example: ACME Corporation
                  homePage:
                    type: string
                    format: url
                    example: 'https://www.acme-corp.com'
                  phone:
                    type: string
                    example: 408-867-5309
                type: object
                