components:
  securitySchemes:
    ApiKeyAuth:
      in: query
      name: apiKey
      type: apiKey
info:
  contact:
    email: thorsten.gressling@hu-berlin.com
  description: ChemInformatics EDU API
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: ChemInformatics EDU API
  version: v2
openapi: 3.0.0
paths:
  /A1/A1.php:
    get:
      description: Retrieves secured data available in the system, requires API key for access.
      operationId: getExperimentData
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      properties:
                        Cost:
                          type: string
                        CreateDate:
                          type: string
                        FKEY_USER:
                          type: string
                        Number:
                          type: string
                        Purpose:
                          type: string
                        Workflow_ID:
                          type: string
                      type: object
                    type: array
                  message:
                    type: string
                type: object
          description: Successfully retrieved data
        '401': null
        description: Unauthorized access
      security:
        - ApiKeyAuth: []
      summary: A1.php - Retrieves secured data
      tags:
        - development (DEV)
  /api.php:
    get:
      description: Retrieves secured data available in the system, requires API key for access.
      operationId: getSecuredData
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      info:
                        type: string
                    type: object
                  message:
                    type: string
                type: object
          description: Successfully retrieved data
        '401':
          description: Unauthorized access
      security:
        - ApiKeyAuth: []
      summary: api.php - Retrieves secured data
      tags:
        - development (DEV)
security:
  - ApiKeyAuth: []
servers:
  - description: Test
    url: http://gressling.net/v2
tags:
  - description: Deployed API
    name: production (PROD)
  - description: Operations available to developers
    name: development (DEV)